<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicaciones</title>
</head>
<body>
    <h1>Listado de Publicaciones</h1>
    <table id="dom-table" class="table table-striped table-bordered nowrap dataTable" aria-describedby="dom-table_info" style="width: 1138.4px;">
                                <colgroup>
                                    <col style="width: 222.238px;">
                                    <col style="width: 314px;">
                                    <col style="width: 173.625px;">
                                    <col style="width: 104.4px;">
                                    <col style="width: 181.413px;">
                                    <col style="width: 142.725px;">
                                </colgroup>
                                <thead>
                                    <tr role="row">
                                        <th data-dt-column="0" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc dt-ordering-asc" aria-sort="ascending" aria-label="Name: Activate to invert sorting" tabindex="0">
                                            <span class="dt-column-title" role="button">ID</span>
                                            <span class="dt-column-order"></span>
                                        </th>
                                        <th data-dt-column="0" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc dt-ordering-asc" aria-sort="ascending" aria-label="Name: Activate to invert sorting" tabindex="0">
                                            <span class="dt-column-title" role="button">Título</span>
                                            <span class="dt-column-order"></span>
                                        </th>
                                        <th data-dt-column="1" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Position: Activate to sort" tabindex="0">
                                            <span class="dt-column-title" role="button">Contenido</span>
                                            <span class="dt-column-order"></span>
                                        </th>

                                        <th data-dt-column="3" rowspan="1" colspan="1" class="dt-type-numeric dt-orderable-asc dt-orderable-desc" aria-label="Age: Activate to sort" tabindex="0">
                                            <span class="dt-column-title" role="button">ID Categoria</span>
                                            <span class="dt-column-order"></span>
                                        </th>
                                        <th data-dt-column="3" rowspan="1" colspan="1" class="dt-type-numeric dt-orderable-asc dt-orderable-desc" aria-label="Age: Activate to sort" tabindex="0">
                                            <span class="dt-column-title" role="button">Fecha de Publicación</span>
                                            <span class="dt-column-order"></span>
                                        </th>
                                        <th data-dt-column="3" rowspan="1" colspan="1" class="dt-type-numeric dt-orderable-asc dt-orderable-desc" aria-label="Age: Activate to sort" tabindex="0">
                                            <span class="dt-column-title" role="button">Acciones</span>
                                            <span class="dt-column-order"></span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="publicaciones : ${publicaciones}">
                                            <td class="sorting_1" th:text="${publicaciones.getId()}"></td>
                                            <td class="sorting_1" th:text="${publicaciones.getTitulo()}"></td>
                                            <td class="sorting_1" th:text="${publicaciones.getContenido()}"></td>
                                            <td class="sorting_1" th:text="${publicaciones.getId_categoria}"></td>
                                            <td class="sorting_1" th:text="${publicaciones.getFecha_publicacion()}"></td>
                                            <td class="sorting_1">
                                              <a th:href="@{/publicaciones/editar/{id}(id=${publicaciones.getId()})}">
                                                <button class="btn btn-info">
                                                <span class="btn-label">
                                                  <i class="fa fa-info"></i>
                                                </span>
                                                  Editar
                                                </button>
                                              </a>
                                              <a th:href="@{/publicaciones/eliminar/{id}(id=${publicaciones.getId()})}">
                                                <button class="btn btn-danger">
                                                <span class="btn-label">
                                                  <i class="fa fa-archive"></i>
                                                </span>
                                                  Eliminar
                                                </button>
                                              </a>
                                            </td>
                                          </tr>
                                </tbody>
                                <tfoot>
                                    <tr role="row">
                                        <th data-dt-column="0" rowspan="1" colspan="1">
                                            <span class="dt-column-title">ID</span>
                                        </th>
                                        <th data-dt-column="0" rowspan="1" colspan="1">
                                            <span class="dt-column-title">Título</span>
                                        </th>
                                        <th data-dt-column="1" rowspan="1" colspan="1">
                                            <span class="dt-column-title">Contenido</span>
                                        </th>
                                        <th data-dt-column="2" rowspan="1" colspan="1">
                                            <span class="dt-column-title">ID Categoria</span>
                                        </th>
                                        <th data-dt-column="2" rowspan="1" colspan="1">
                                            <span class="dt-column-title">Fecha de Publicacion</span>
                                        </th>
                                        <th data-dt-column="2" rowspan="1" colspan="1">
                                            <span class="dt-column-title">Acciones</span>
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                            <ul class="pagination">
                                
                                <li class="dt-paging-button page-item"><a href="publicaciones/agregar" class="page-link" aria-controls="dom-table" data-dt-idx="1" tabindex="0">Agregar Evento</a>
                                </li>
                            </ul>
</body>
    
</html>