<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Basica KIRIBAKU CANON</title>
    <link rel="stylesheet" href="../assets/css/style.css"> 
    
</head>
<header>
    <h1>Calculadora Básica</h1>
</header>
<body>
    </br>
    <form style="display: flex; align-items: center; gap: 20px;">
        <div>
            <input id="num1" type="number" placeholder="Ingrese primer número">&nbsp;
            <input id="num2" type="number" placeholder="Ingrese segundo número"> &nbsp;
            <br><br>
            <input type="button" value="Sumar" onclick="sumar()"> &nbsp;
            <input type="button" value="Restar" onclick="restar()"> &nbsp;
            <input type="button" value="Multiplicar" onclick="multiplicar()"> &nbsp;
            <input type="button" value="Dividir" onclick="dividir()"> &nbsp;
        </div>
    </form>
    <br>
    <img src="../assets/images/woaikirishima.jpg" alt="Calculadora" style="width: auto; height: auto;">
    <br>
    <footer>
        <h3>Desarrollado por KIRIBAKU CANON</h3>
    </footer>
</body>

<script src="/assets/js/Operaciones.js"></script>
</html>