<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
   <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="container">
    <h1>Registro</h1>
    <br>
    <form id="registroForm">
        <input type="text" id="nombre" placeholder="Ingrese nombre">
        <br><br>
        <input type="text" id="apellidos" placeholder="Ingrese Apellidos">
        <br><br>
        <input type="text" id="curp" placeholder="Ingrese su CURP">
        <br><br>
        <input type="text" id="rfc" placeholder="Ingrese su RFC">
        <br><br>
        <input type="text" id="clave" placeholder="Ingrese clave de plantel">
        <br><br><br>
        <button type="submit" class="btn">Registrar</button>
    </form>
</div>

<script src="verificar.js"></script>

</body>
</html>
