<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Fersitio Web</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <h1>大家好！我叫Fer</h1>
                <nav>
                    <ul>
                        <li><i><a href="/">Sobre mí</a></i></li>
                        <li><i><a href="/portafolio">Portafolio</a></i></li>
                        <li><i><a href="/contacto">Contacto</a></i></li>
                    </ul>
                </nav>
        </header>
        <main>
            <section id="yoyoyo">
            <div class="contenedor">
                <img src="kirishima.jpg" alt="kiri" class="foto">
                <div class="texto">
                    <h2>谁是Fer?</h2>
                    <p>A continuación un poco de información sobre mí:</p>
                </div>
            </div>
            <div class="info">
                <p>Soy una estudiante del IPN, en la carrera de Ingeniería en Sistemas Computacionales.</p>
                <p>Estudié la educación media superior en el CECyT 18 "Zacatecas" y la secundaria en un internado. </p>
                <p>He viajado a muchas partes del país y otros paises como Estados Unidos, Indonesia y Singapur.</p>
                <p>Puedo hablar inglés y estoy aprendiendo chino mandarín.</p>
            </div>
        </section>
        </main>
        <aside>
            <p><s>KIRIBAKU CANON</s></p>
        </aside>
        <footer>
            <p>Derechos reservados a mí.</p>
        </footer>
    </body>
</html>